@import './variables.css'
@import './typo.css';
@import './fonts.css';
@import './forms.css';
@import './layout.css';

:root{
    --white: #f9f9f9;
    --black: #36383F;
}
/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

ul{
   color: var(--neutral);
   list-style: none;
   li {
     color: var(--main);
   }
}
*,
*:before,
*:after {
	box-sizing: border-box;
	outline-offset: 0.2em;
	text-decoration-skip-ink: auto;
	font-family: inherit;
}

*:focus {
	outline: 3px solid var(--focus);
}

body,
html {
	max-width: 100vw;
	overflow-x: hidden;
}

body {
	position: absolute;
	top: 0;
	width: 100vw;
	margin: 0;
	background: var(--background);
}

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	opacity: 0;
	color: transparent;
	pointer-events: none;
}

h1 {
	color: var(--neutral);
}
h2 {
	color: var(--main);
}
h3 {
	color: var(--high);
}

h1, h2, h3, h4, h5 {
	& a {
		color: inherit;
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}
	}
}

strong {
	font-weight: bolder;
}

p {
  color: var(--neutral);
}

figure {
  padding: .5em .2em;
  img {
    width: 100%
  }
}
