body {
	color: var(--neutral);
	font-family: var(--font_main);
	font-size: 1.1em;
	font-weight: 600;
	line-height: 1.5;

	@media(min-width: 60em) {
		font-size: 1.2em;
	}
}

a {
	color: var(--focus);
	
	text-decoration-thickness: 1px;
	text-decoration-style: wavy;

	&:hover {
		text-decoration: none;
	}
}

h1, h2, h3 {
	font-weight: 700;
}

h1 {
	font-size: 1.6em;

	@media(min-width: 60em) {
		font-size: 2em;
	}
}


