 @import './variables.css';
 @import './nav.css';
@import './custom.css';
@import './toggle.css';

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	opacity: 0;
	color: transparent;
	pointer-events: none;
}


section {
	display: none;
	height: 100%;
	min-height: 70vh;
	 padding: 0px 1em;

	& > h2:first-child {
	 color: var(--text-light);
		margin-top: 0;
	}

	&:target {
		display: block;
	}
}
@media(min-width: 80em) {

	section {
		margin: 0 auto;
	}
}
