 @import './variables.css';
 @import './nav.css';
@import './custom.css';
@import './toggle.css';

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	opacity: 0;
	color: transparent;
	pointer-events: none;
}



section {
	display: none;
	height: 100%;
	padding: 0px 1em;

	& > h2:first-child {
	 color: var(--text-light);
		margin-top: 0;
	}

	&:target {
		display: block;
	}
}

@media(min-width: 40em) {
	main {
		padding: 35px;
	}
}

@media(min-width: 60em) {
	main {
		padding: 50px 5vw;
	}
}

@media(min-width: 80em) {
	main {
		padding: 50px 0;
	}

	section {
		max-width: 1000px;
		margin: 0 auto;
	}
}
