 /**
 @import './global/index.css';
 @import './demos/index.css';
  **/
 @import './partials/header.css';
 @import './nav.css';
@import './custom.css';
@import './toggle.css';

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	opacity: 0;
	color: transparent;
	pointer-events: none;
}

main {
	overflow-y: auto;
	overflow-x: visible;
}

section {
	display: none;

	&:target {
		display: block;
	}
}
