        <section id="home">
        <h2 class="sr-only">Phonnz</h2>
                <h1>Senior Software Engineer <br/>& Engineering Manager
            </h1>
        <h3>Experienced with IC to Tech Lead transitions, building MVPs and products from scratch in the VC ecosystem</h3>
         <h3>Team Builder and inspired to be the best Tech Manager I could ever had.
        </h3>
         <p>Passionate for buiding solutions based on software with product design  vision</p>
        <p>Absolutely convinced that as a experienced software engineers, we can build better career paths for new developers,
        taking advantage of decades of investigation, using good practices, knowledge and the software tools we have available,
        to make fail less software projects in the world and make happier developer lifes.</p>
        <p>I am working with an awesome LatAm team creating tech around Retail3.0 experiences through computer vision and AI.</p>
        <p>Currently working on my skills about Domain Driven Design, Explicit and sophisticated software architectures</p>
        <p>I really enjoy public speaking in order to spread the valuable knowledge</p>
        <div class="col-xs-11 col-md-4">
           <h3>What have I been doing?</h3>
              <ul>
                <li>'24: Experimenting the wonderful world of LLMs to empower systems and offer more dynamic experiences for the users.</li>
                <li>'23: Building Embedded Software with <strong>Nerves Project</strong> supporting operations with Elixir/BEAM</li>
                 <li>'22: Started to work with <strong>Nerves Project</strong> have been extremely fun and enjoyable!</li>
                 <li>'20: Started to work with <strong>IoT and Distributed systems</strong> and it has been crazy but
                   incredibly fun!</li>
                <li>'18: I was part of the <strong>Rust</strong> train the trainers, looking to spread the word!</li>
                 <li>'17: Started to work with <strong>Elixir</strong> and <strong>Rust</strong>! (And I love it!)
                     Building concurrent data processing for real-time dashboards
                </li>
               <li>'16: Started to work with <strong>Reactjs</strong> building real-time dashboards</li>
               <li>'16: Started to play with <strong>RaspberryPI and Tessel</strong></li>
               <li>'15: Started to work with <strong>Nodejs</strong></li>
                <li>'12/'16: Worked with <strong>Python</strong> for web development/li>
               <li>'10/'16: Growing software development company</li>
               <li>'07: Started IT engineering career, programming with <strong>C#</strong> for Windows and
                   <strong>Java</strong> for web applications</li>
               <li>'05: Started to <strong>learn</strong> about <strong>programming for microprocessors &
                         C/C++</strong> (AVR, PIC, Z8080, GAL)</li>
               </ul>
                 <figure>
          <iframe 
              width="100%" height="340px" src="https://www.youtube.com/embed/YWDCXbjircQ?si=arDrgEbopY1EfyaB" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
              </figure>
                <figure id="">
                    <img class="" src="assets/images/team-rust-trainers.png" />
                </figure>
<figure><embed
                            src="https://wakatime.com/share/@phonnz/9ab546f7-805b-4a59-90a4-90b2cc3758f1.svg"></embed>
                    </figure>
         </section>
 
